.p{
  color: aqua;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.h1{
  color: RED;
}
.h2{
  color: lightcoral;
  cursor: pointer;
align-items: center;
  text-align: center;

  padding: auto;
}